{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% load tailwind_tags %}
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0">
    <meta content="index,follow" name="robots">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokezilla !</title>
    <meta name="description" content="Pokezilla, le pokedex fait et pensé autrement !">
    <link rel="icon" href="../static/pokedex/Ressources/images/pokeball.svg" sizes="32x32">
    <link rel="stylesheet" href="../static/pokedex/stylesheets.css">
    <script src="../static/pokedex/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

</head>
<body class="text-gray-900 bg-gray-50">
<nav class="flex fixed top-36 left-1/2 z-50 justify-start items-center w-80 h-16 bg-gray-50 rounded-3xl
border-2 border-gray-900 shadow-2xl transform -translate-x-1/2 z-30">
    <img src="../static/pokedex/Ressources/honorball.svg" alt="Honor" class="mx-4 w-8 h-8">
    <input type="text" placeholder="Chercher un pokemon..." class="pl-4 bg-transparent focus:outline-none"
           oninput="search(this.value)">
</nav>


{#     section relative a la modale        #}
<section class="z-50">
    <button id="btnShowModal" onclick="showModal()"
            class="flex fixed top-0 right-0 m-40 justify-start items-center z-40">
        <img src="../static/pokedex/Ressources/images/pokeball.svg" alt="Team" class="w-16 h-16 hover:scale-105">
    </button>
    <button id="popup" onclick="hidePopup()"
            class="flex fixed bottom-0 right-0 m-20 justify-start items-center z-40 transition-all opacity-0 z-0">
        <div class="bg-green-500 text-white font-bold flex justify-center items-center p-4 px-8 rounded-2xl">
            <p>Pokemon ajouté à l'équipe !</p>
        </div>
    </button>
    <div id="genemodal" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity modal hidden z-40"></div>
    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
    <div class="flex fixed left-1/2 max-h-3/4 transform -translate-x-1/2 modal hidden z-50">
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-7xl sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                        <img src="../static/pokedex/Ressources/images/pokeball.svg" alt="Team" class="w-16 h-16">
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                            Pokemon de l'équipe
                        </h3>
                        <div class="my-6">
                            <p class="text-sm text-gray-500">
                                Vous pouvez ajouter jusqu'à 5 Pokemon à votre équipe.
                            </p>
                        </div>
                        <div id="team"></div>
                    </div>
                    <div class="flex justify-center items-center h-full pl-10 pt-10">
                        <div class="w-full">
                            <canvas id="myChart" width="600" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button" onclick="delAllTeam()"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Vider l'équipe
                </button>
                <button type="button" onclick="hideModal()"
                        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                    Retour
                </button>
            </div>
        </div>
    </div>
</section>


<section class="grid grid-cols-4 gap-8 p-10 my-16 w-screen h-full content-pokedex">
    {% for value in values %}
        {% if forloop.counter0 == 5 %}
            <div class="col-span-2 rounded-2xl" id="title">
                <div class="flex flex-col justify-center items-center p-10 h-full card-pokemon">
                    <h2 class="text-5xl font-bold text-center text-yellow-500 title">Pokezilla</h2>
                    <h2 class="pt-4 text-3xl font-bold text-center">un Pokedex revisité</h2>
                </div>
            </div>
        {% endif %}
        <div class="bg-gray-50 rounded-2xl shadow-2xl card hover:shadow-xl relative">
            <a class="flex flex-col justify-center items-center p-20 pb-0 card-pokemon" href="{{ value.id }}">
                <h2 class="text-3xl font-bold text-center">{{ value.name }}</h2>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ value.id }}.png"
                     alt="{{ value.name }}" class="p-10">
                <h2 class="font-bold text-center ">#{{ value.id }}</h2>
            </a>
            <button class='team-add absolute bottom-0 right-0 px-10 pt-10 pb-6 tooltip'
                    onclick='addTeam("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ value.id }}.png","{{ value.name }}","{{ value.id }}" )'>
                <img src="../static/pokedex/Ressources/add-poke.svg" alt="Add" class="w-14 h-14">
                <span class="tooltiptext">Ajouter à l'équipe !</span>
            </button>
        </div>
    {% endfor %}
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function checkStatsPokemon(pokemonTableId) {

        $.ajax({
            type: "POST",
            url: '{{'my-ajax-test/'}}',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', text: pokemonTableId},
            success: function callback(response) {
                /* do whatever with the response */
                updatechartpokemonstats(response);
            }
        });
    }
</script>
</body>
</html>